/* START - Search table animation ------------------------------------------------------------------------------------*/
.animation {
    -webkit-transition: 0.5s;
}

.animation.ng-enter {
    opacity: 0;
}

.animation.ng-leave {
    opacity: 1;
}

.animation.ng-enter.ng-enter-active {
    opacity: 1;
}

.animation.ng-leave.ng-leave-active {
    opacity: 0;
}
/* END - Search table animation --------------------------------------------------------------------------------------*/