/* Menu */
.logo-img {
    margin-top: -18px;
    margin-left: 8px;
    width: 50px;
    float:left;
}

.brand-text {
    font-size: 30px;
}

.search {
    margin-top: 8px;
    margin-left: 34px;
}

.go {
    height: 34px;
}

.drop-menu {
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

.pointer {
    cursor: pointer;
}

/* Content */
.contact-img {
    width: 200px;
    margin-top: 20px;
    margin-left: 50px;
}

.schedule-dropdown {
    width: 250px;
}

.msg-text {
    color: #F0AD4E;
    font-size: 16px;
    /* login register warning */
}

.hide-col {
    margin-right: 18px;
    cursor: pointer;
    font-style: none;
    font-size: 12px;
}

/* Table */
.highlight-cell {
    background-color: #ffe2ba;
}

thead {
    background: #F8F8F8;
    font-size: 16px;
    width: 80.5%;
}

/* Sorting */
.sort:hover { 
    background: #eeeeee;
    cursor: pointer;
}

.glyphicon.glyphicon-sort {
    font-size: 10px;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.lr-drop-target-before{
  border-left: 2px solid orange;
}

.lr-drop-target-after{
  border-right: 2px solid orange;
}