.search {
    margin-top: 8px;
    margin-left: 34px;
}

.go {
    height: 34px;
}

.contact-img {
    width: 200px;
    margin-top: 20px;
    margin-left: 50px;
}

.scanned-date {
    margin-top: 25px;
    margin-left: -330px;
    width: 150px;
}

.search-scanned {
    margin-top: -50px;
    margin-left: 700px;
    width: 450px;
}

.schedule-dropdown {
    width: 250px;
}

.view {
    margin: 80px;
}

.msg-text {
    color: #F0AD4E;
    font-size: 16px;
}

.pointer {
    cursor: pointer;
}