<div class="container">
    <div class="page-header">
        <h1>Schedule Scan </br>
            <small>Pick your scan schedule and let us do the work for you.</small></h1>
    </div>

    <div class="alert alert-warning" ng-show="scheduleCtrl.scheduleFreq == 'weekly' || scheduleCtrl.scheduleFreq == 'fornightly'">
        Your domain <strong>{{scheduleCtrl.scheduleDomain}}</strong> 
        is scheduled for <strong>{{scheduleCtrl.scheduleFreq}}</strong> scan, 
        you may change the domain and/or frequency of scan below.
    </div>

    <div class="alert alert-warning" ng-show="scheduleCtrl.scheduleFreq == 'none'">
        Currently <strong>no scans</strong> are scheduled,
        you may add the domain and frequency of scan below.
    </div>

    <span class="msg-text">
        {{scheduleCtrl.msg}}
    </span>

    <form name="scheduleForm" ng-submit="scheduleCtrl.automate()" novalidate autocomplete="off">

        <!-- Scan Domain -->
        <h4>Domain URL</h4>
        <div class="form-group input-field col s6" ng-class="{ 'has-error': scheduleForm.domain.$touched && scheduleForm.domain.$invalid }">
            <input type="text" class="form-control" ng-model="scheduleCtrl.domain" name="domain" placeholder="Enter domain URL" required>
            <div class="help-block" ng-messages="scheduleForm.domain.$error" ng-if="scheduleForm.domain.$touched">
                <span class="help-inline" ng-message="required">Domain URL is mandatory</span>
            </div>
        </div>

        <!-- Scan Frequency -->
        <h4>Perform scan every</h4>
        <div class="form-group input-field col s6" ng-class="{ 'has-error': scheduleForm.frequency.$touched && scheduleForm.frequency.$invalid }">
            <select class="form-control" ng-model="scheduleCtrl.frequency" name="frequency" placeholder="Perform scan every" required>
                <option value="weekly">1 week</option>
                <option value="fornightly">2 weeks</option>
                <option value="none">Disable scheduled scan</option>
            </select>
            <div class="help-block" ng-messages="scheduleForm.frequency.$error" ng-if="scheduleForm.frequency.$touched">
                <span class="help-inline" ng-message="required">Please pick scan frequency.</span>
            </div>
        </div>

        <!-- Automat Button -->
        <button type="submit" ng-disabled="scheduleForm.$invalid" class="btn btn-lg btn-warning">Automate it!</button>
    </form>
</div>