<div class="page-header">
    <h1>Scanned Data</h1>
</div>

<!-- <button class="btn">
    <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
        <b>In progress</b>
    </button>

<button class="btn btn-warning" ui-sref="data" ng-click="dataCtrl.retrieveAll()">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <b>Completed</b>
    </br>
    click to view scanned data
</button>
</br>
</br> -->

<!-- <h3>{{ dataCtrl.result[0].date.toString().slice(0, 10) }}</h3> -->
<div>
    <!-- Hide/Show Columns
    <div style="margin-bottom: 20px">
        <label class="checkbox-inline" ng-repeat="col in dataCtrl.cols">
          <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="col.show"/> {{col.title()}}
        </label>
      </div> -->

    <!-- Data Table -->
    <table st-table="dataCtrl.displayedCollection" st-safe-src="dataCtrl.rowList" class="table table-striped">
        <thead>
            <tr>
                <th st-sort="created_at">Date</th>
                <th st-sort="domain_name">Domain</th>
                <th st-sort="url">URL</th>
                <th st-sort="meta_robots">Meta Robots</th>
                <th st-sort="title">Title</th>
                <th st-sort="meta_desc">Meta Desc</th>
                <th st-sort="og_title">OG Title</th>
                <th st-sort="og_desc">OG Desc</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <input st-search="created_at" placeholder="search for created_at" class="input-sm form-control" type="search" />
                </th>
                <th>
                    <input st-search="domain_name" placeholder="search for domain_name" class="input-sm form-control" type="search" />
                </th>
                <th>
                    <input st-search="url" placeholder="search for url" class="input-sm form-control" type="search" />
                </th>
                <!-- <th>
                    <input st-search="meta_robots" placeholder="search for meta_robots" class="input-sm form-control" type="search" />
                </th> -->
                <th>
                    <st-select-multiple collection="dataCtrl.rowList" predicate="meta_robots"></st-select-multiple>
                </th>
                <th>
                    <input st-search="title" placeholder="search for title" class="input-sm form-control" type="search" />
                </th>
                <th>
                    <input st-search="meta_desc" placeholder="search for meta_desc" class="input-sm form-control" type="search" />
                </th>
                <th>
                    <input st-search="og_title" placeholder="search for og_title" class="input-sm form-control" type="search" />
                </th>
                <th>
                    <input st-search="og_desc" placeholder="search for og_desc" class="input-sm form-control" type="search" />
                </th>
            </tr>

            <tr ng-repeat="row in dataCtrl.displayedCollection">
                <td>{{ row.created_at.toString().slice(0, 10) }}</td>
                <td>{{ row.domain_name }}</td>
                <td>{{ row.url }}</td>
                <td>{{ row.meta_robots }}</td>
                <td>{{ row.title }}</td>
                <td>{{ row.meta_desc }}</td>
                <td>{{ row.og_title }}</td>
                <td>{{ row.og_desc }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="6" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>

    <!-- Export to CSV
    <a button class="btn btn-warning" title="Export Table" ng-click='csv.generate()' ng-href="{{ csv.link() }}"
         download="myTable.csv">
        <i class="glyphicon glyphicon-new-window"></i> &#160;Export to CSV
    </a> -->

    <!-- <button class="btn btn-warning" type="submit" a ui-sref="report">Generate Report</button> -->
</div>