<div class="page-header">
    <h1>Scanning domain now...</h1>
</div>

<button class="btn">
    <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
        <b>In progress</b>
    </button>

<button class="btn btn-warning" ng-click="scanCtrl.retrieveAll()">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <b>Completed</b>
    </br>
    click to view scanned data
</button>
</br>
</br>

<h3>{{ scanCtrl.result[0].date.toString().slice(0, 10) }}</h3>
<h3>{{ scanCtrl.result[0].domain }}</h3>

<div>
    <!-- Hide/Show Columns -->
    <div style="margin-bottom: 20px">
        <label class="checkbox-inline" ng-repeat="col in scanCtrl.cols">
          <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="col.show"/> {{col.title()}}
        </label>
      </div>

    <!-- Data Table -->
    <table ng-table="scanCtrl.tableParams" class="table table-hover table-bordered" ng-table-columns-binding="scanCtrl.cols" export-csv="csv" separator=",">
        <tr ng-repeat="row in scanCtrl.data">

            <td data-title="'URL'" filter="{url: 'text'}" sortable="'url'" ng-if="true">{{ row.url }}</td>

            <!-- <td data-title="'Meta Robots'" filter="{meta_robots: 'text'}" sortable="'meta_robots'" ng-if="true" ng-class="{ 'highlight-cell': row.meta_robots == null }">{{ row.meta_robots }}</td> -->

            <td data-title="'Meta Robots'" filter="{meta_robots: 'select-multiple'}" filter-data="scanCtrl.metaRobotsList" ng-if="true" ng-class="{ 'highlight-cell': row.meta_robots == null }">{{ row.meta_robots }}</td>

            <td data-title="'Title'" filter="{title: 'text'}" sortable="'title'" ng-if="true" ng-class="{ 'highlight-cell': row.title.length > 70 }">{{ row.title }}</td>

            <td data-title="'Meta Description'" filter="{meta_desc: 'text'}" sortable="'meta_desc'" ng-if="true" ng-class="{ 'highlight-cell': row.meta_desc.length > 156 }">{{ row.meta_desc }}</td>

            <td data-title="'OG Title'" filter="{og_title: 'text'}" sortable="'og_title'" ng-if="true" ng-class="{ 'highlight-cell': row.og_title.length > 40 }">{{ row.og_title }}</td>

            <td data-title="'OG Description'" filter="{og_desc: 'text'}" sortable="'og_desc'" ng-if="true" ng-class="{ 'highlight-cell': row.og_desc.length > 300 }">{{ row.og_desc }}</td>

            <!-- <td data-title="'Image Alt'" filter="{img_alt: 'text'}" sortable="'img_alt'">{{ x.img_alt }}</td> -->
        </tr>
    </table>

    <!-- Export to CSV -->
    <a button class="btn btn-warning" title="Export Table" ng-click='csv.generate()' ng-href="{{ csv.link() }}"
         download="myTable.csv">
        <i class="glyphicon glyphicon-new-window"></i> &#160;Export to CSV
    </a>

    <!-- <button class="btn btn-warning" type="submit" a ui-sref="report">Generate Report</button> -->
</div>